resources:
- repo: self
  clean: true

queue:
  name: ApexInfra macOS

name: $(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)

steps:
- task: chef-software.vsts-chef-tasks.vsts-chef-task-install-chefdk.vsts-chef-task-install-chefdk@1
  displayName: 'Install ChefDK'
  inputs:
    chefDKForceInstall: true
    chefDKChannel: stable

- task: chef-software.vsts-chef-tasks.vsts-chef-task-test-kitchen.vsts-chef-task-test-kitchen@1
  displayName: 'Execute Test Kitchen: test'
  inputs:
    tkAzureEndpoint: 'Apex Lab - CorpNet'
    tkCommand: test
    tkKitchenFile: .kitchen.yml

- task: chef-software.vsts-chef-tasks.vsts-chef-task-test-kitchen.vsts-chef-task-test-kitchen@1
  displayName: 'Execute Test Kitchen: destroy'
  inputs:
    tkAzureEndpoint: 'Apex Lab - CorpNet'
    tkCommand: destroy
    tkKitchenFile: .kitchen.yml
  condition: always()
